*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-image: url(unl_background3.png);
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  height: 100%;
}

.tutorial {
  border-radius: 15px;
  width: 80%;
  margin: 10% auto 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  background-color: #f9f9f9;
  max-width: 800px;
}
.tutorial .slider {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 300px;
  background-color: #f03861;
}

#giphy-embed {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 20px;
}

.tutorial .information {
  width: 100%;
  padding: 10px 50px;
  margin-bottom: 30px;
  font-family: "Menlo";
  font-size: 20px;
}
.tutorial .information h1 {
  color: #333;
  font-size: 1.5rem;
  padding: 0px 10px;
  text-align: center;
}

#superscript {
  text-align: center;
}

.tutorial .information h2 {
  color: #333;
  font-size: 3rem;
  padding: 0px 10px;
  text-align: center;
}

.tutorial .information h3 {
  color: #e0e0e0;
  font-size: 1rem;
  font-weight: 300;
  padding: 0px 10px;
  border-left: 3px solid #f03861;
}
.tutorial .information p {
  padding: 10px 0px;
  text-align: left-align;
}

.tutorial .information h4 {
  padding: 10px 0px;
  text-align: center;
}
.tutorial ul {
  font-size: 0;
  list-style-type: none;
}
.tutorial ul li {
  font-family: "Menlo";
  font-size: 15px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
  display: inline-block;
  padding: 15px;
  position: relative;
}
.tutorial ul li ul {
  display: none;
}
.tutorial ul li,
.tutorial ul li:active {
  position: relative;
  cursor: pointer;
}

.tutorial ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: #e7e7e7;
  margin-top: 0; /* Adjusted margin-top */
}

.tutorial ul li ul li {
  display: block;
  background-color: #e7e7e7;
}

.tutorial ul li ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #f03861;
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}

.tutorial ul li:hover,
.tutorial ul li:active {
  background-color: #f2f2f2;
}

.tutorial ul li:hover ul,
.tutorial ul li:active ul {
  display: block;
}

.tutorial ul li:hover ul li:hover,
.tutorial ul li:active ul li:active {
  background-color: #e0e0e0;
}

.tutorial ul li:hover ul li:hover span,
.tutorial ul li:active ul li:active span {
  background-color: #ee204e;
}

.layout {
  padding-top: 50px;
  width: auto;
  height: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.layout2 {
  padding-top: 50px;
  width: auto;
  height: auto;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

#bts img {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#team img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#links {
 text-align: center;
 color: #7F9A66;
 text-decoration: underline;
 border: 2px solid #7F9A66;
 border-radius: 30px;
}

#links a{
 text-align: center;
 color: #7F9A66;
}

#links a:visited {
  color: #023020;
}


.image-row {
  padding-top: 20px;
  display: flex;
  justify-content: space-between; /* this will add equal space between each image */
}

#goals img {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#article img {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.column {
  float: left;
  width: 33.33%;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: black;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}
